{% extends "toomanydaves/base.html" %}

{% block page-styles %}
<style>
    body {
        background-color: #111312;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
</style>
{% endblock %}

{% block content %}
{% endblock %}

{% block page-scripts %}
<script>
    var $body = $('body');
    var bgGifs = [
        {
            //Wire Hangers
            url: 'url(https://s-media-cache-ak0.pinimg.com/originals/05/62/57/056257690b3027178dd7058558390ce6.gif)',
            duration: 3500
        },
        {
            //Pinwheel
            url: 'url(https://s-media-cache-ak0.pinimg.com/originals/90/2a/a7/902aa72e018e6eb6a951a0d70fbffb00.gif)',
            duration: 2500
        },
        {
            //Han Solo
            url: 'url(https://s-media-cache-ak0.pinimg.com/originals/86/52/b1/8652b1162e9dd69083d99f14cce52bbd.gif)',
            duration: 2200
        },
        {
            //Superman
            url: 'url(https://s-media-cache-ak0.pinimg.com/originals/d6/e6/be/d6e6be7a706e8920b9471d9b12340cc1.gif)',
            duration: 2000
        },
        {
            //Targeting Cube
            url: 'url(https://s-media-cache-ak0.pinimg.com/originals/30/6c/a4/306ca4116264eabb17abac8cd5083e4e.gif)',
            duration: 2200
        },
        {
            //Disco Ball
            url: 'url(https://s-media-cache-ak0.pinimg.com/originals/67/85/68/6785687d0c6059bfac77347b20024015.gif)',
            duration: 2200
        },
        {
            //Rotating Orbits
            url: 'url(https://s-media-cache-ak0.pinimg.com/originals/de/88/bb/de88bb85078d062f18a40011b3ebc5f9.gif)',
            duration: 2200
        },
        {
            //Open Your Eyes
            url: 'url(https://s-media-cache-ak0.pinimg.com/originals/de/88/bb/de88bb85078d062f18a40011b3ebc5f9.gif)',
            duraction: 2200
        },
        {
            //Do Nothing Machine
            url: 'url(https://s-media-cache-ak0.pinimg.com/originals/48/3d/e4/483de4ff9f2dd1cb3239150f9c72954f.gif)',
            duration: 2200
        }
    ];
    bgGif = bgGifs[Math.floor(Math.random() * bgGifs.length)];

    // Show a GIF
    $body.css('background-image', bgGif.url);
    </script>
{% endblock %}
